body {
    background-color: #8F2342;
    color:            #FFFFFF;
    overflow:         hidden;
}

.vertical-center {
    min-height:  100%;
    min-height:  100vh;
    display:     flex;
    align-items: center;
}

.img-raspberry {
    padding:    10px;
    max-height: 240px;
}

.btn-raspberry {
    color:            #FFFFFF;
    background-color: #66172E;
    border:           none;
}

.btn-raspberry:hover {
    color:            #FFFFFF;
    background-color: #6B293D;
}

.btn-raspberry:focus {
    color: #FFFFFF;
}

.btn-raspberry[data-statuscode=""] {
    display: none;
}

.btn-raspberry[data-statuscode*="200"] {
    display: none;
}

.btn-raspberry[data-statuscode*="403"]:after {
    content: "Homepage";
}

.btn-raspberry[data-statuscode*="404"]:after {
    content: "Homepage";
}

.btn-raspberry[data-statuscode*="500"]:after {
    content: "Report a bug";
}

.btn-raspberry[data-statuscode*="503"]:after {
    content: "Report a bug";
}
