body {
  background-color: #8f2342;
  color: #ffffff;
  overflow: hidden;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.img-raspberry {
  padding: 10px;
  max-height: 240px;
}

.btn-raspberry {
  color: #ffffff;
  background-color: #66172e;
  border: none;
}

.btn-raspberry:hover {
  color: #ffffff;
  background-color: #6b293d;
}
